.Route {
  height: calc(100vh - 70px);
  margin-top: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .Route {
    height: calc(100vh - 55px);
    margin-top: 55px;
    overflow-y: auto;
  }
}
