$blue: #2f86a6;
$green: #34be82;
$lgreen: #0fd17d;
$yellow: #f0ff24;
$lgrey: #f8f8f8;

.bHome {
  min-height: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lcircles {
  position: fixed;
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 500px;
}
.scircles {
  position: fixed;
  z-index: -1;
  width: 150px;
  height: 150px;
  border-radius: 500px;
  background-color: #fff;
}

.hc1 {
  top: 0px;
  left: -50px;
  background-color: rgb(240, 255, 36, 0.8);
}
.hsc1 {
  top: 25px;
  left: -25px;
}
.hc2 {
  top: 0px;
  right: -50px;
  background-color: rgb(47, 135, 167, 0.8);
}
.hsc2 {
  top: 25px;
  right: -25px;
}
.hc3 {
  bottom: -50px;
  left: -50px;
  background-color: rgb(52, 190, 130, 0.8);
}
.hsc3 {
  bottom: -25px;
  left: -25px;
}
.hc4 {
  bottom: -50px;
  right: -50px;
  background-color: rgb(47, 221, 146, 0.8);
}
.hsc4 {
  bottom: -25px;
  right: -25px;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 150px;
    height: auto;
  }
  h1 {
    font-family: "Red Rose", cursive;
    font-size: 108px;
    margin: 0;
    font-weight: 400;
    color: $blue;
    span {
      font-size: 144px;
      color: $green;
    }
  }
  p {
    font-size: 32px;
    margin: 0;
    text-align: center;
    color: #1f1f1f;
  }
}
.createAccount {
  display: block;
  width: 300px;
  height: 80px;
  font-size: 24px;
  color: #fff;
  background-color: $blue;
  border-radius: 500px;
  border: none;
  margin-top: 50px;
  margin-bottom: 20px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    background-color: #34be82;
    transition: all 0.5s;
  }
}
.Route {
  padding: 60px;
  background-color: #0fd17d;
}
@media only screen and (max-width: 768px) {
  .homeContent {
    img {
      width: 100px;
    }
    h1 {
      font-size: 48px;
      span {
        font-size: 64px;
      }
    }
    p {
      font-size: 16px;
    }
  }
  .createAccount {
    width: 200px;
    height: 50px;
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
  }
  .lcircles {
    width: 100px;
    height: 100px;
  }
  .scircles {
    width: 50px;
    height: 50px;
  }
}
